streamlit==1.38.0
numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.2
scikit-learn==1.5.2
scipy==1.13.1
mne==1.8.0
mne-connectivity==0.4.1
pyedflib==0.1.36
reportlab==4.2.2
arabic-reshaper==3.0.0
python-bidi==0.4.2
joblib==1.4.2
shap==0.45.1
rich==13.7.1
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.18.0
